@model Data.WeatherObjects.WeatherForecast
@{
    ViewBag.Title = "Weathering With Me";
}

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div>Today's Current Temp:</div>
                <div id="current-temp" ></div>
            </div>
            <div class="col-3">
                <div>Today's Low Temp:</div>
                <div id="todays-low-temp"></div>
            </div>
            <div class="col-3">
                <div>Today's high Temp:</div>
                <div id="todays-high-temp" ></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <select id="forecast-weather-option">
                    <option value="temperature">Temperature</option>
                    <option value="precipitationChance">Precipitation Chance</option>
                </select>
                <div id="forecast-chart"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="error-banner">
                    <div id="close-error-banner" onclick="clearError()">X</div>
                    <div id="error-text"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="main-map"></div>
            </div>
        </div>
    </div>
</main>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/indexScripts")


<script>
     (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
     ({key: "@ViewBag.AppSettings["MapApiKey"]", v: "beta"});  
     
     // passing in the lat, long, and zoom as number, mapId as string
     initMap(
        @ViewBag.AppSettings["MapCenterLatitude"], 
        @ViewBag.AppSettings["MapCenterLongitude"], 
        @ViewBag.AppSettings["MapZoom"], 
        "@ViewBag.AppSettings["ApiMapId"]");
</script>